ACCENT_BG={{ colors.magenta | lstrip('#') }}
ARC_TRANSPARENCY=True
ARC_WIDGET_BORDER_COLOR={{ base.grey | lstrip ('#') }}
BASE16_GENERATE_DARK=False
BASE16_INVERT_TERMINAL=False
BASE16_MILD_TERMINAL=False
BG={{ base.foreground | lstrip('#') }}
BTN_BG={{ base.foreground | darken(0.1) | lstrip('#') }}
BTN_FG={{ base.black | lstrip('#') }}
BTN_OUTLINE_OFFSET=-3
BTN_OUTLINE_WIDTH=1
CARET1_FG={{ base.black | darken(-0.05) | lstrip('#') }}
CARET2_FG={{ base.black | darken(-0.1) | lstrip('#') }}
CARET_SIZE=0.04
CINNAMON_OPACITY=1.0
FG={{ base.black | lstrip('#') }}
GRADIENT=0.0
GTK3_GENERATE_DARK=True
HDR_BG={{ base.foreground | lstrip('#') }}
HDR_BTN_BG={{ base.foreground | darken(0.3) | lstrip('#') }}
HDR_BTN_FG={{ base.background | lstrip('#') }}
HDR_FG={{ base.black | lstrip('#') }}
ICONS_ARCHDROID={{ colors.magenta | lstrip('#') }}
ICONS_DARK={{ base.black | lstrip('#') }}
ICONS_LIGHT={{ colors.magenta | lstrip('#') }}
ICONS_LIGHT_FOLDER={{ colors.magenta | darken(-0.1) | lstrip('#') }}
ICONS_MEDIUM={{ colors.magenta | darken(0.1) | lstrip('#') }}
ICONS_NUMIX_STYLE=1
ICONS_STYLE=papirus_icons
ICONS_SYMBOLIC_ACTION={{ base.background | lstrip('#') }}
ICONS_SYMBOLIC_PANEL={{ base.background | darken(-0.1) | lstrip('#') }}
MATERIA_PANEL_OPACITY=0.6
MATERIA_SELECTION_OPACITY=0.32
MATERIA_STYLE_COMPACT=True
MENU_BG={{ base.foreground | darken(0.3) | lstrip('#') }}
MENU_FG={{ base.background | darken(-0.3) | lstrip('#') }}
NAME=oonko_light
OUTLINE_WIDTH=1
ROUNDNESS=2
SEL_BG={{ colors.magenta | lstrip('#') }}
SEL_FG={{ base.white | lstrip('#') }}
SPACING=3
SPOTIFY_PROTO_BG={{ base.foreground | darken(0.3) | lstrip('#') }}
SPOTIFY_PROTO_FG={{ base.background | darken(-0.3) | lstrip('#') }}
SPOTIFY_PROTO_SEL={{ colors.magenta | lstrip('#') }}
SURUPLUS_GRADIENT1={{ base.background | darken(-0.2) | lstrip('#') }}
SURUPLUS_GRADIENT2={{ colors.magenta | lstrip('#') }}
SURUPLUS_GRADIENT_ENABLED=False
TERMINAL_ACCENT_COLOR={{ colors.magenta | lstrip('#') }}
TERMINAL_BACKGROUND={{ base.foreground | lstrip('#') }}
TERMINAL_BASE_TEMPLATE=tlight2
TERMINAL_COLOR0={{ base.background | lstrip('#') }}
TERMINAL_COLOR1={{ colors.red        | lstrip('#') }}
TERMINAL_COLOR2={{ colors.green      | lstrip('#') }}
TERMINAL_COLOR3={{ colors.yellow     | lstrip('#') }}
TERMINAL_COLOR4={{ colors.blue       | lstrip('#') }}
TERMINAL_COLOR5={{ colors.magenta     | lstrip('#') }}
TERMINAL_COLOR6={{ colors.cyan       | lstrip('#') }}
TERMINAL_COLOR7={{ base.foreground   | darken(0.2) | lstrip('#') }}
TERMINAL_COLOR8={{ base.background   | darken(-0.2)| lstrip('#') }}
TERMINAL_COLOR9={{ colors.red        | darken(0.1) | lstrip('#') }}
TERMINAL_COLOR10={{ colors.green     | darken(0.1) | lstrip('#') }}
TERMINAL_COLOR11={{ colors.yellow    | darken(0.1) | lstrip('#') }}
TERMINAL_COLOR12={{ colors.blue      | darken(0.1) | lstrip('#') }}
TERMINAL_COLOR13={{ colors.magenta    | darken(0.1) | lstrip('#') }}
TERMINAL_COLOR14={{ colors.cyan      | darken(0.1) | lstrip('#') }}
TERMINAL_COLOR15={{ base.foreground     | lstrip('#') }}
TERMINAL_FOREGROUND={{ base.foreground | lstrip('#') }}
TERMINAL_THEME_ACCURACY=128
TERMINAL_THEME_AUTO_BGFG=True
TERMINAL_THEME_EXTEND_PALETTE=False
TERMINAL_THEME_MODE=manual
THEME_STYLE=oomox
TXT_BG={{ base.foreground | darken(0.0) | lstrip('#') }}
TXT_FG={{ base.black | lstrip('#') }}
UNITY_DEFAULT_LAUNCHER_STYLE=False
WM_BORDER_FOCUS={{ colors.magenta | lstrip('#') }}
WM_BORDER_UNFOCUS={{ base.foreground | darken(0.3) | lstrip('#') }}
