ACCENT_BG={{ base.primary | lstrip('#') }}
ARC_TRANSPARENCY=True
ARC_WIDGET_BORDER_COLOR={{ base.grey | lstrip ('#') }}
BASE16_GENERATE_DARK=False
BASE16_INVERT_TERMINAL=False
BASE16_MILD_TERMINAL=False
BG={{ base.light | lstrip('#') }}
BTN_BG={{ base.light.d | lstrip('#') }}
BTN_FG={{ base.black | lstrip('#') }}
BTN_OUTLINE_OFFSET=-3
BTN_OUTLINE_WIDTH=1
CARET1_FG={{ base.black | darken(-0.05) | lstrip('#') }}
CARET2_FG={{ base.black.l | lstrip('#') }}
CARET_SIZE=0.04
CINNAMON_OPACITY=1.0
FG={{ base.black | lstrip('#') }}
GRADIENT=0.0
GTK3_GENERATE_DARK=True
HDR_BG={{ base.light | lstrip('#') }}
HDR_BTN_BG={{ base.light.d | lstrip('#') }}
HDR_BTN_FG={{ base.dark | lstrip('#') }}
HDR_FG={{ base.black | lstrip('#') }}
ICONS_ARCHDROID={{ base.primary | lstrip('#') }}
ICONS_DARK={{ base.black | lstrip('#') }}
ICONS_LIGHT={{ base.primary | lstrip('#') }}
ICONS_LIGHT_FOLDER={{ base.primary.l | lstrip('#') }}
ICONS_MEDIUM={{ base.primary.d | lstrip('#') }}
ICONS_NUMIX_STYLE=1
ICONS_STYLE=papirus_icons
ICONS_SYMBOLIC_ACTION={{ base.dark | lstrip('#') }}
ICONS_SYMBOLIC_PANEL={{ base.dark.l | lstrip('#') }}
MATERIA_PANEL_OPACITY=0.6
MATERIA_SELECTION_OPACITY=0.32
MATERIA_STYLE_COMPACT=True
MENU_BG={{ base.light.d.d.d | lstrip('#') }}
MENU_FG={{ base.dark.l.l.l | lstrip('#') }}
NAME=oonko_light
OUTLINE_WIDTH=1
ROUNDNESS=2
SEL_BG={{ base.primary | lstrip('#') }}
SEL_FG={{ base.white | lstrip('#') }}
SPACING=3
SPOTIFY_PROTO_BG={{ base.light.d.d.d | lstrip('#') }}
SPOTIFY_PROTO_FG={{ base.dark.l.l.l | lstrip('#') }}
SPOTIFY_PROTO_SEL={{ base.primary | lstrip('#') }}
SURUPLUS_GRADIENT1={{ base.dark.l.l | lstrip('#') }}
SURUPLUS_GRADIENT2={{ base.primary | lstrip('#') }}
SURUPLUS_GRADIENT_ENABLED=False
TERMINAL_ACCENT_COLOR={{ base.primary | lstrip('#') }}
TERMINAL_BACKGROUND={{ base.light | lstrip('#') }}
TERMINAL_BASE_TEMPLATE=tlight2
TERMINAL_COLOR0={{ base.dark | lstrip('#') }}
TERMINAL_COLOR1={{ colors.red        | lstrip('#') }}
TERMINAL_COLOR2={{ colors.green      | lstrip('#') }}
TERMINAL_COLOR3={{ colors.yellow     | lstrip('#') }}
TERMINAL_COLOR4={{ colors.blue       | lstrip('#') }}
TERMINAL_COLOR5={{ colors.magenta     | lstrip('#') }}
TERMINAL_COLOR6={{ colors.cyan       | lstrip('#') }}
TERMINAL_COLOR7={{ base.light.d.d | lstrip('#') }}
TERMINAL_COLOR8={{ base.dark.l.l | lstrip('#') }}
TERMINAL_COLOR9={{ colors.red.d      | lstrip('#') }}
TERMINAL_COLOR10={{ colors.green.d   | lstrip('#') }}
TERMINAL_COLOR11={{ colors.yellow.d  | lstrip('#') }}
TERMINAL_COLOR12={{ colors.blue.d    | lstrip('#') }}
TERMINAL_COLOR13={{ colors.magenta.d | lstrip('#') }}
TERMINAL_COLOR14={{ colors.cyan.d    | lstrip('#') }}
TERMINAL_COLOR15={{ base.light       | lstrip('#') }}
TERMINAL_FOREGROUND={{ base.light    | lstrip('#') }}
TERMINAL_THEME_ACCURACY=128
TERMINAL_THEME_AUTO_BGFG=True
TERMINAL_THEME_EXTEND_PALETTE=False
TERMINAL_THEME_MODE=manual
THEME_STYLE=oomox
TXT_BG={{ base.light | lstrip('#') }}
TXT_FG={{ base.black | lstrip('#') }}
UNITY_DEFAULT_LAUNCHER_STYLE=False
WM_BORDER_FOCUS={{ base.primary | lstrip('#') }}
WM_BORDER_UNFOCUS={{ base.light.d.d.d | lstrip('#') }}
