; Color name                GUI                  Base256    Base16
;  Accents

Color: grey        {{ base.grey        }} ~ DarkGray
Color: accent      {{ base.primary     }} ~ Magenta
Color: xdaccent    {{ base.primary.l   }} ~ DarkMagenta
Color: xlaccent    {{ base.primary.d   }} ~ Magenta
Color: secondary   {{ base.secondary   }} ~ Yellow
Color: xdsecondary {{ base.secondary.l }} ~ DarkYellow
Color: xlsecondary {{ base.secondary.d }} ~ Yellow

{% for cname, color in colors.items() -%}
Color: {{ "{:10s}".format(cname) }} {{ color }} ~ {{ cname | title }}
{% endfor -%}

{% for cname, color in colors.items() -%}
Color: {{ "xd{:10s}".format(cname) }} {{ color.l }} ~ Dark{{ cname | title }}
{% endfor -%}

{% for cname, color in colors.items() -%}
Color: {{ "xl{:10s}".format(cname) }} {{ color.d }} ~ {{ cname | title }}
{% endfor -%}

; Backgrounds
{% for col in cycle(base.light, base.grey, 5) -%}
Color: bkgrd_{{ loop.index0 }} {{ col }} ~ {% if loop.first %}White{% else %}Gray{% endif %}
{% endfor %}

;  Foregrounds
{% for col in cycle(base.dark, base.grey, 5) -%}
Color: frgrd_{{ loop.index0 }} {{ col }} ~ {% if loop.first %}Black{% else %}DarkGray{% endif %}
{% endfor %}


Term Colors: bkgrd_0 red green yellow blue magenta cyan frgrd_2
Term Colors: bkgrd_2 xdred xdgreen xdyellow xdblue xdmagenta xdcyan frgrd_0

Include: _definitions.colortemplate
