foreground {{ base.white }}
background {{ base.dark }}

selection_foreground {{ base.black }}
selection_background {{ base.light }}

{% for xname, xcolor in xterm_dark.items() %}
color{{ xname }} {{ xcolor }}
{%- endfor %}

cursor {{ base.primary.l.l }}
cursor_text_color {{ base.primary.d.d }}

active_tab_foreground {{ base.white }}
active_tab_background {{ base.primary.d.d }}
inactive_tab_foreground {{ base.grey }}
inactive_tab_background {{ base.dark }}
