foreground {{ base.black }}
background {{ base.light }}

selection_foreground {{ base.white }}
selection_background {{ base.dark }}

{% for xname, xcolor in xterm_light.items() %}
color{{ xname }} {{ xcolor }}
{%- endfor %}

cursor {{ base.primary.d.d }}
cursor_text_color {{ base.primary.l.l }}

active_tab_foreground {{ base.black }}
active_tab_background {{ base.primary.l.l }}
inactive_tab_foreground {{ base.grey }}
inactive_tab_background {{ base.light }}
