schemes:
    light: &light
        primary:
            foreground: '{{ base.black }}'
            background: '{{ base.light }}'
        normal:
            black:      '{{ xterm_light['0'] }}'
            {% for xname in xterm_names -%}
            {{ '{:11s}'.format(xname + ':') }} '{{ colors[xname] }}'
            {% endfor -%}
            white:      '{{ xterm_light['7'] }}'
        bright:
            black:      '{{ xterm_light['8'] }}'
            {% for xname in xterm_names -%}
            {{ '{:11s}'.format(xname + ':') }} '{{ colors[xname].d }}'
            {% endfor -%}
            white:      '{{ xterm_light['15'] }}'

    dark: &dark
        primary:
            foreground: '{{ base.white }}'
            background: '{{ base.dark }}'
        normal:
            black:      '{{ xterm_dark['0'] }}'
            {% for xname in xterm_names -%}
            {{ '{:11s}'.format(xname + ':') }} '{{ colors[xname] }}'
            {% endfor -%}
            white:      '{{ xterm_dark['7'] }}'
        bright:
            black:      '{{ xterm_dark['8'] }}'
            {% for xname in xterm_names -%}
            {{ '{:11s}'.format(xname + ':') }} '{{ colors[xname].l }}'
            {% endfor -%}
            white:      '{{ xterm_dark['15'] }}'

colors: *dark

